@using DogRallyManager.ViewModels.ChatVMs
@using Newtonsoft.Json
@model IEnumerable<DogRallyManager.ViewModels.ChatVMs.ChatRoomVM>


<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <style>
        #chat-container {
            width: 600px;
            margin: 0 auto;
            text-align: center;
        }

        .chatroom-list {
            list-style-type: none;
            padding: 0;
        }

            .chatroom-list li {
                margin-bottom: 10px;
                cursor: pointer;
                border: 1px solid #ccc;
                padding: 10px;
                border-radius: 5px;
            }

                .chatroom-list li.highlighted {
                    background-color: yellow;
                }

        .chat-room-container {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            display: none;
        }

        .chat-room-header {
            background-color: darkturquoise;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        .message-container {
            height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
        }

        .message-input {
            width: 100%;
            margin-top: 10px;
        }
    </style>
    <script>
        function loadChatroom(chatroomId) {
            $('.chat-room-container').hide();
            $('#chat-room-' + chatroomId).show();
            $('.chatroom-list li').removeClass('highlighted');
            $('#chatroom-list-item-' + chatroomId).addClass('highlighted');

            var messageContainer = document.getElementById("message-container-" + chatroomId);
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }

        function hideChatroom(chatroomId) {
            $('#chat-room-' + chatroomId).hide();
            $('#chatroom-list-item-' + chatroomId).removeClass('highlighted');
        }

        </script>
</head>
<body>

    <div id="chat-container">
        <h1>Chat!</h1>
        <p>Below is a list of the chatrooms you are participating in. Click one of them to open the chat.</p>
        <ul class="chatroom-list">
            @foreach (var chatRoom in Model)
            {
                <li id="chatroom-list-item-@chatRoom.Id" onclick="loadChatroom('@chatRoom.Id')">@chatRoom.RoomName</li>
            }
        </ul>

        @foreach (var chatRoom in Model)
        {
            <div class="chat-room-container" id="chat-room-@chatRoom.Id">
                <div class="chat-room-header">
                    <h2>@chatRoom.RoomName</h2>
                    @if (chatRoom.NumberOfAssociatedUsers == 1)
                    {
                        <p> You are alone in this room.</p>
                    }
                    else if(chatRoom.NumberOfAssociatedUsers == 2)
                    {
                        <p>There are you and @(chatRoom.NumberOfAssociatedUsers - 1) other user in this room. They might not be online though...</p>
                    }
                    else
                    {
                       <p>There are you and @(chatRoom.NumberOfAssociatedUsers - 1) other users in this room. They might not be online though...</p>
                    }
                </div>
                <div class="message-container" id="message-container-@chatRoom.Id">
                    <!-- Display messages here -->
                    @foreach (var message in chatRoom.ChatMessages)
                    {
                        <div>@message.Sender.UserName: @message.MessageBody</div>
                    }
                </div>
                <div>
                    <input type="text" class="message-input" id="message-input-@chatRoom.Id"/>
                    <button class="send-button" data-chatroomid="@chatRoom.Id"
                            data-participating-users="@JsonConvert.SerializeObject(chatRoom.ParticipatingUsers.Select(u => u.UserName).ToList())">
                            Send 
                        </button>
                    <button onclick="hideChatroom('@chatRoom.Id')">Hide Chat</button>
                </div>
            </div>
        }
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>

        $(document).ready(function () {


            $.ajaxSetup({
                // This is for the preflight request made from the browser, saying to the
                // CORS-guards of the SignalR app that HEY ITS OKAY DONT SHUT DOWN LET US IN !
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Access-Control-Allow-Origin', 'https://localhost:7142');
                    xhr.setRequestHeader('Access-Control-Allow-Credentials', 'true');
                }
            });

            // Connection being established to the chathub url that was mapped in the signalR-app.
            // That is indeed the rooturl of where the signalr app is hosted, with the appended
            // signalR endpoint
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7204/chatHub")
                .build();

            connection.start()
                .then(() => console.log("SignalR connection established"))
                .catch((err) => {
                    return console.error(err.toString());
                });

            // Handle click event on send button
            $(".send-button").click(function () {
                var currentChatRoomId = $(this).data("chatroomid");                
                console.log("Send button clicked and chatroomid variable is: " + currentChatRoomId);
                var participatingUsernames = $(this).data("participating-users");
                var message = $("#message-input-" + currentChatRoomId).val(); 
                var user = "@User.Identity.Name";
                console.log("variables loaded");
                console.log("send button function finished");

                if (currentChatRoomId == 0) {
                    var participatingUsernames = $(this).data("participating-users");

                    console.log(participatingUsernames);
                    $.ajax({
                        url: "/Chat/SendMessageOnNewlyCreatedRoom",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ MessageBody: message, RecipientUserNames: participatingUsernames }),
                        success: function (response) {
                            if (response.success) {
                                console.log(response.message);
                                connection.invoke("SendMessage", user, message, currentChatRoomId)
                                    .catch(err => console.error(err));
                                location.reload();
                            } else {
                                console.error("Error: " + response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error sending message and user data: " + error);
                        }
                    });
                } else {
                    connection.invoke("SendMessage", user, message, currentChatRoomId)
                        .catch(err => console.error(err));

                    $.ajax({
                        url: "/Chat/SendMessage",
                        type: "POST",

                        data: { messageBody: message, chatRoomId: currentChatRoomId },
                        success: function (response) {
                            if (response.success) {
                                console.log(response.message);
                            } else {
                                console.error("Error: " + response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error sending message: " + error);
                        }
                    });
                }
                
            });

            
            // Handle incoming message event from SignalR hub
            connection.on("ReceiveMessage", (user, message, chatroomId) => {
                // Append the received message to the message container
                console.log("ReceiveMessage has been invoked");
                $("#message-container-" + chatroomId).append("<div>" + user + ": " + message + "</div>");
                // Upon succesfully having appended the chatmessage to the open chatwindow
                // There are two things to do to enhance user-experience:
                // 1: Clear the messagebox. 2: Scroll to bottom of message container
                $("#message-input-" + chatroomId).val("");
                var messageContainer = document.getElementById("message-container-"+chatroomId);
                messageContainer.scrollTop = messageContainer.scrollHeight;
            });
        });
    </script>

</body>
</html>