@using Microsoft.AspNetCore.Identity;
@using DogRallyManager.Entities;
@inject UserManager<RallyUser> userManager;
@model DogRallyManager.Entities.ChatRoom?;
<!DOCTYPE html>
<html>
    <body>
        <div id="chat" class="chat-minimized" onclick="toggleClass('chat', 'chat-minimized', 'chat-expanded')">
            <div id="minimize-chat" onclick="event.stopPropagation(); toggleClass('chat', 'chat-expanded', 'chat-minimized')"></div>
            <div id="chat-notifications" class="chat-unread"><p id="unread-amount">17</p></div>
            <div id="chat-window">
                <ul id="chat-history">
                    @if (Model != null && Model.ChatMessages.Any())
                    {
                        @foreach (var message in Model.ChatMessages)
                        {
                            if (message.Sender.UserName == User.Identity.Name)
                            {
                                <li class="message-sent">@message.Sender: @message.MessageBody</li>
                            }
                            else
                            {
                                <li class="message-response">@message.Sender: @message.MessageBody</li>
                            }
                        }
                    }
                </ul>
            </div>
            <div>
                <input id="chat-write" type="text" />
                <button id="chat-send" data-chatroomid="@Model.Id">Send</button>
            </div>
        </div>
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Access-Control-Allow-Origin', 'https://localhost:7142');
                    xhr.setRequestHeader('Access-Control-Allow-Credentials', 'true');
                }
            });

            const connection = new signalR.HubConnectionBuilder()
                .withUrl("https://localhost:7204/chatHub")
                .build();

            connection.start()
                .then(() => console.log("SignalR connection established"))
                .catch((err) => console.error(err.toString()));

            document.querySelector('.send-button').addEventListener('click', function () {
                const currentChatRoomId = $(this).data("chatroomid");
                const message = $("#chat-write").val();
                const user = "@User.Identity.Name";

                console.log("Send button clicked and chatroomid variable is: " + currentChatRoomId);
                console.log("Message to send: " + message);
                console.log("User: " + user);

                connection.invoke("SendMessage", user, message, currentChatRoomId)
                    .catch(err => console.error(err));

                if (message !== "") {
                    $.ajax({
                        url: "/Chat/SendMessage",
                        type: "POST",
                        data: { messageBody: message, chatRoomId: currentChatRoomId },
                        success: function (response) {
                            if (response.success) {
                                console.log(response.message);
                            } else {
                                console.error("Error: " + response.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error("Error sending message: " + error);
                        }
                    });
                }
            });

            const userName = "@User.Identity.Name";

            connection.on("ReceiveMessage", (user, message, chatroomId) => {
                console.log("ReceiveMessage has been invoked");

                if (user === userName) {
                    $("#chat-history").append(`<li class="message-sent">${user}: ${message}</li>`);
                } else {
                    $("#chat-history").append(`<li class="message-response">${user}: ${message}</li>`);
                }

                const messageContainer = document.getElementById("chat-history");
                messageContainer.scrollTop = messageContainer.scrollHeight;
            });
        });
    </script>
    </body>
    </html>